@using ADAShop.Shared.Entities
@model IEnumerable<CartItem>

@{
    ViewData["Title"] = "Realizar Pedido";
    var claimsIdentity = (ClaimsIdentityModel)ViewBag.ClaimsIdentityViewBag;
    Layout = "_CartLayout";
}

<style>
    .vertical-align-middle {
        align-content: center;
        text-align: center;
    }

    .modal-confirm {
        color: #636363;
        width: 400px;
    }

        .modal-confirm .modal-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
            text-align: center;
            font-size: 14px;
        }

        .modal-confirm .modal-header {
            border-bottom: none;
            position: relative;
        }

        .modal-confirm h4 {
            text-align: center;
            font-size: 26px;
            margin: 30px 0 -10px;
        }

        .modal-confirm .close {
            position: absolute;
            top: -5px;
            right: -2px;
        }

        .modal-confirm .modal-body {
            color: #999;
        }

        .modal-confirm .modal-footer {
            border: none;
            text-align: center;
            border-radius: 5px;
            font-size: 13px;
            padding: 10px 15px 25px;
        }

            .modal-confirm .modal-footer a {
                color: #999;
            }

        .modal-confirm .icon-box {
            width: 80px;
            height: 80px;
            margin: 0 auto;
            border-radius: 50%;
            z-index: 9;
            text-align: center;
            border: 3px solid #f15e5e;
        }

            .modal-confirm .icon-box i {
                color: #f15e5e;
                font-size: 46px;
                display: inline-block;
                margin-top: 13px;
            }

        .modal-confirm .btn {
            color: #fff;
            border-radius: 4px;
            background: #60c7c1;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            min-width: 120px;
            border: none;
            min-height: 40px;
            border-radius: 3px;
            margin: 0 5px;
            outline: none !important;
        }

        .modal-confirm .btn-info {
            background: #c1c1c1;
        }

            .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
                background: #a8a8a8;
            }

        .modal-confirm .btn-danger {
            background: #f15e5e;
        }

            .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
                background: #ee3535;
            }

    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }

    .btn-text {
        color: white !important;
        text-decoration: none;
        text-align: center;
        align-content: center;
    }

    .icon-box i {
        color: white;
        font-size: 36px;
        display: inline-block;
        margin-top: 15px;
    }

    table td, table th {
        text-align: center !important;
    }

    .main {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
    }

    .cart-summary {
        text-align: center;
        margin-top: 30px;
    }

        .cart-summary h3 {
            margin-bottom: 10px;
        }

    table {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #header,
    #top-header {
        width: 100%;
        top: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add a shadow */
    }

    .myCart:hover {
        cursor: pointer;
        /* Add other hover effects here */
    }

    .checkout-btn {
        padding: 10px;
        font-size: 2rem;
        margin-top: 10px;
    }

</style>

<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-right">
                <li><a href="#"><i class="fa fa-user-o"></i> @claimsIdentity.FullName</a></li>
                <li><a href="/account/logout"><i class="fas fa-door-open"></i> Salir</a></li>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->
    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="@Url.Action("Index", "Home")"" class="logo">
                            <img src="/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->
                 <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search"></div>
                    </div>
                    <!-- /SEARCH BAR -->
                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">

                        <!-- Cart -->
                        <div class="dropdown myCart">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Mi carrito</span>
                                <div class="qty">@Model.Count()</div>
                            </a>
                            <div class="cart-dropdown">
                                <div class="cart-list">
                                    @foreach (var item in Model)
                                    {
                                        <div class="product-widget">
                                            <div class="product-img">
                                                @{
                                                      string? image = item?.Product?.Image != null ? item?.Product?.Image : "not_available.png";
                                                   }
                                                <img src="./img/@image" alt="@image" width="200" />
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a asp-action="Details" asp-controller="Product" asp-route-id="@item?.Product?.Id">@item?.Product?.Name</a></h3>
                                                <h4 class="product-price"><span class="qty">@item!.Quantity x</span>$ @item?.Product?.Price</h4>
                                            </div>
                                            <button class="delete"><i class="fa fa-close"></i></button>
                                        </div>
                                    }
                                </div>

                                <div class="cart-summary">
                                    <small>@Model?.Count() Artículo(s) seleccionado(s)</small>
                                    <h5>SUBTOTAL: @String.Format("{0:C}", @Model?.Sum(c => c?.Product?.Price * c?.Quantity))</h5>
                                </div>
                                <div class="cart-btns">
                                    <a asp-action="GetAll" asp-controller="CartItem">Ver Carrito</a>
                                    <a asp-action="CancelCart" asp-controller="Cart" asp-route-cartId="@Model.FirstOrDefault()!.CartId" asp-route-userId="@ViewBag.UserId">Limpiar <i class="fa fa-archive"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /Cart -->
                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->
<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li><a asp-action="Index" asp-controller="Home">Inicio</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section container">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a asp-action="Index" asp-controller="Home">Inicio</a></li>
                    <li class="active">Carrito de Compras</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<main class="container main">
    @if (Model!.Any() && Model!.Count() > 0)
    {
            <h2 class="text-center p-5">Artículos del carrito</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Precio total</th>
                <th>Nombre del producto</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model!)
            {
                <tr>
                    <td class="vertical-align-middle">@item.Quantity</td>
                    <td class="vertical-align-middle">@String.Format("{0:C}", item.Product!.Price)</td>
                    <td class="vertical-align-middle">@String.Format("{0:C}", item.Product.Price * item.Quantity)</td>
                    <td class="vertical-align-middle">@item.Product.Name</td>
                      @{
                          string image = item.Product.Image != null ? item.Product.Image : "not_available.png";
                       }
                    <td class="vertical-align-middle"><img src="./img/@image" alt="@item.Product.Name" width="100" /></td>
                    <td class="vertical-align-middle">
                        <div id="myModal-@item.Id" class="modal fade">
                            <div class="modal-dialog modal-confirm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">¡Importante!</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿Seguro que desea eliminar estos registros?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a asp-action="GetAll" asp-controller="CartItem" data-dismiss="modal" class="btn btn-text">Cancelar</a>
                                        <a asp-action="Delete" asp-controller="CartItem" asp-route-id="@item.CartId" class="btn btn-danger btn-text">Quitar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="cart-summary text-center">
        <h3>Número de artículos : @Model?.Count() artículo(s)</h3>
        <br />
        @{
            var subTotal = @Model?.Sum(c => c?.Product?.Price * c?.Quantity);
        }
        <h3>SUBTOTAL: @String.Format("{0:C}", subTotal)</h3>
    </div>

    <div class="cart-btns container text-center">
        <a class="btn btn-success checkout-btn" asp-action="Checkout" asp-controller="Order" asp-route-cartId="@Model?.FirstOrDefault()?.Id" asp-route-userId="@ViewBag?.UserId">Pagar ahora <i class="fa fa-arrow-circle-right"></i></a>
    </div>
    }
    else
    {
        <h2 class="text-center p-5">No tienes artículos en tu carrito de compras.</h2>
    }
</main>