@using ADAShop.Shared.Entities
@model ADAShop.Web.ViewModels.Home.ProdCatCartVM

@{
    TempData["Title"] = "ADA Shop";

    var claimsIdentity = (ClaimsIdentityModel)ViewBag.ClaimsIdentityViewBag;
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>ADA Shop</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="css/slick.css" />
    <link type="text/css" rel="stylesheet" href="css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-XXX" crossorigin="anonymous" /> *@

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .myCart:hover {
            cursor: pointer;
        }

        .clear-search-btn {
            margin-left: 10px; /* Adjust margin as needed */
            font-weight: bold;
            margin-right: 0;
            height: 40px; /* Adjust height as needed */
            line-height: 40px; /* Center text vertically */
            padding: 0 20px; /* Adjust padding as needed */
            border-radius: 20px 0 0 20px; /* Apply border radius to left side only */
            background-color: #c0392b; /* Button background color (red) */
            color: #ffffff; /* Button text color */
            border: 1px solid #c0392b; /* Button border */
            transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Add transition effect */
        }

            .clear-search-btn:hover {
                background-color: #a93226; /* Hover background color (darker red) */
                border-color: #a93226; /* Hover border color */
            }

        #searchProdName {
            margin: 0;
            z-index: 1001; /* Ensure it's above other elements */
        }
    </style>

</head>
<body>
    <!-- HEADER -->
    <header>
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-right">
                    @if (claimsIdentity != null)
                    {
                        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-user-o"></i> @claimsIdentity.FullName</a></li>
                        <li><a href="@Url.Action("Logout", "Account")"><i class="fas fa-door-open"></i> Salir</a></li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Crea tu cuenta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Ingresar</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <!-- /TOP HEADER -->
        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="@Url.Action("Index", "Home")" " class="logo">
                                <img src="./img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search"></div>
                    </div>
                    <!-- /SEARCH BAR -->
                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- Cart -->
                            <div class="dropdown myCart">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Mi carrito</span>
                                    <div class="qty">@(Model != null && Model.Cart != null ? Model.Cart.CartItems!.Count : 0)</div>
                                </a>
                                <div class="cart-dropdown">
                                    <div class="cart-list">
                                        @foreach (var item in Model!.Cart!.CartItems!)
                                        {
                                            <div class="product-widget">
                                                <div class="product-img">
                                                    @{
                                                        string? image = item.Product!.Image != null ? item.Product!.Image : "not_available.png";
                                                    }
                                                    <img src="~/img/@image" alt="@image" width="200" />
                                                </div>
                                                <div class="product-body">
                                                    <h3 class="product-name"><a asp-action="Details" asp-controller="Product" asp-route-id="@item.Product.Id">@item.Product.Name</a></h3>
                                                    <h4 class="product-price"><span class="qty">@(Convert.ToInt64(item.Quantity)) x</span>@String.Format("{0:C}", item.Product.Price)</h4>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                    <div class="cart-summary">
                                        <small>@Model.Cart.CartItems.Count Artículos(s) Seleccionados</small>
                                        <h5>SUBTOTAL: @String.Format("{0:C}", Model.Cart.CartItems.Sum(c => c.Product!.Price * c.Quantity))</h5>
                                    </div>
                                    <div class="cart-btns">
                                        <a asp-action="GetAll" asp-controller="CartItem">Ver carrito <i class="fa fa-arrow-circle-right"></i></a>
                                        <a asp-action="CancelCart" asp-controller="Cart" asp-route-cartId="@Model.Cart.Id" asp-route-userId="@ViewBag.UserId">Limpiar <i class="fa fa-archive"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Cart -->
                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    <li class="active"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- Products tab & slick -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="products-tabs">
                            <!-- tab -->
                            <div id="tab1" class="tab-pane active">
                                <div class="products-slick" data-nav="#slick-nav-1">
                                    @if (Model!.Products != null)
                                    {
                                        foreach (Product prod in Model.Products!)
                                        {
                                            <!-- product -->
                                            <div class="product">
                                                <div class="product-img">
                                                    @{
                                                        string image = prod.Image != null ? prod.Image : "not_available.png";
                                                    }
                                                    <img src="./img/@image" alt="@image" height="200">
                                                </div>
                                                <div class="product-body">
                                                    @{
                                                        string categoryName = prod.Category != null ? prod.Category.Name : string.Empty;
                                                    }
                                                    <p class="product-category">@categoryName</p>
                                                    <h3 class="product-name"><a asp-action="Details" asp-controller="Product" asp-route-id="@prod.Id">@prod.Name</a></h3>
                                                    <h4 class="product-price">@String.Format("{0:C}", prod.Price)</h4>

                                                    <!-- aside Widget -->
                                                    <div class="aside">
                                                        <h5 class="aside-title">@((Convert.ToInt64(prod.Stock)) > 0 ? $"{(Convert.ToInt64(prod.Stock))} disponible(s)" : "Agotado") </h5>
                                                        <span>Cantidad</span>
                                                        <div class="price-filter">
                                                            <div class="input-number price-max">
                                                                <input id="price-max-@prod.Id" type="number" value="1" disabled>
                                                                <span class="qty-up">+</span>
                                                                <span class="qty-down">-</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /aside Widget -->
                                                </div>
                                                <div class="add-to-cart">
                                                    <a href="javascript:void(0);" onclick="AddToCart(@prod.Id)">
                                                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Añadir al carrito</button>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- /product -->
                                        }
                                    }
                                </div>
                                <div id="slick-nav-1" class="products-slick-nav"></div>
                            </div>
                            <!-- /tab -->
                        </div>
                    </div>
                </div>
                <!-- Products tab & slick -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <!-- SECTION -->
    <div class="section" style="margin-top:60px"></div>
    <!-- /SECTION -->
    <!-- FOOTER -->
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Acerca de nosotros</h3>
                            <p>Programa para prueba técnica ADA.</p>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Medellín</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>pruebatecnica@ada.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="col-md-6 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Servicios</h3>
                            <ul class="footer-links">
                                <li>Carrito de compras</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->
        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="copyright" style="margin-bottom:20px">
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
                        </span>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bottom footer -->
    </footer>
    <!-- /FOOTER -->
    <!-- jQuery Plugins -->
    <script src="~/js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/nouislider.min.js"></script>
    <script src="js/jquery.zoom.min.js"></script>
    <script src="js/main.js"></script>
    <script src="~/js/host.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            var productsNames = @Json.Serialize(@ViewBag.AllProductsNames);

            $("#searchProdName").autocomplete({
                source: productsNames,
                minLength: 1
            });
        });

          function AddToCart(id)
         {
            let maxInput = parseInt(document.getElementById('price-max-' + id).value);
            $.ajax({
                url: '/Cart/AddtoCart',
                type: 'GET',
                traditional: true,
                data: {
                    productId : id,
                    quantity: maxInput ,
                },
                success: function (response)
                {
                    if(response == null){
                        window.location.href = Host.GetHostName() + '@Url.Action("Login", "Account")';
                    }
                    else{
                         window.location.href = Host.GetHostName() + '@Url.Action("Index", "Home")';
                    }
                },
                error: function (xhr, status, error)
                {
                    console.error("AJAX request failed:", status, error);
                }
            });
         }
    </script>
</body>
</html>
